---
import ClusterStatus from "./ClusterStatus";
---

<header>
    <nav>
        <ul>
            <li>
                <a href="https://fh-swf.de"
                    ><img
                        class="logo"
                        src="/fh-swf.svg"
                        alt="Logo der Fachhochschule Südwestfalen"
                        title="Fachhochschule Südwestfalen"
                    /></a
                >
            </li>
            <li><a href="/">Home</a></li>
            <li>
                <a href="https://openai.ki.fh-swf.de" target="_blank">K!mpuls</a
                >
            </li>
            <li>
                <a
                    href="https://login.ki.fh-swf.de/new-jupyterhub"
                    target="_blank">JupyterHub</a
                >
            </li>
            <li><a href="/dokumentation">Dokumentation</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        background-color: hsl(0, 0%, 100%);
        color: black;
        padding: 20px;
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    img.logo {
        height: 40px;
    }

    ul {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 5ex;
        list-style-type: none;
        padding: 10px;
        overflow: hidden;
    }
</style>
