---
---

<header>
    <nav>
        <ul>
            <li><a href="https://fh-swf.de">FH Südwestfalen</a></li>
            <li><a href="/">Home</a></li>
            <li>Dashboard</li>
            <li><a href="/impressum">Impressum</a></li>
        </ul>
    </nav>
</header>

<style>
    ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
        margin-bottom: 1rem;
        padding: 10px;
        overflow: hidden;
    }
</style>
