---
import { Astro } from "astro";
import Header from "../components/Header.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/index.css" />
        <link rel="stylesheet" href="/theme.css" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>KI & Data Science an der FH Südwestfalen</title>
    </head>
    <body>
        <Header />
        <main class="prose prose-headings:mb-3 prose-headings:font-extrabold prose-h1:text-4xl prose-h2:text-2xl prose-h3:text-xl max-w">
            <slot />
        </main>
    </body>
</html>

<style lang="scss">
    body {
        margin: 0;
    }

    main.prose {
        max-width: 100ch;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }


</style>
